// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  border-radius: 20px;
    background-color: linen;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 